@model MOHEswatini.Models.mDiseaseSurveillance

@{
    ViewData["Title"] = "Disease Surveillance Form Print";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | Ministry Of Health</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/PrintCss.css" rel="stylesheet" />
</head>
<body>

    <table class="col-sm-12">
        <tr class="text-center">
            <td class="col-sm-12 text-center">
                <img src="~/dist/img/MOHLogo128.png" />
            </td>
        </tr>
        <tr class=" col-sm-12 text-center font-weight-bolder">
            <td>
                Disease Surveillance Form
            </td>
        </tr>
        <tr class="text-center">
            <td>
                Arrival Form (Visitors And Returning Residents)
            </td>
        </tr>
    </table>
    <table class="trda">
        <tr class="text-center">
            <th class="trda">
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <td>
                @Html.DisplayFor(model => model.ArrivalDate)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.ArrivedBy)
            </th>
            <td>
                @Html.DisplayFor(model => model.ArrivedBy)
            </td>
        </tr>
    </table>

    <table class="col-sm-12">
        <tr class="text-left">
            <td>
                Arrival Form (Visitors And Returning Residents)
            </td>
        </tr>
    </table>

</body>
</html>